.activities {
	&_see-more {
		text-align: right;
		font-size: 2rem;
		font-family: 'Catamaran';
		font-weight: 200;
		color: rgb(108, 107, 197);
		margin: 0;
		position: absolute;
		top: 22px;
		right: 10px;

		@include mq(400px) {
			margin: auto 0 auto 0.3em;
			font-size: 3rem;
			position: unset;
		}
	}
}
