* {
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
}

h3 {
	text-transform: uppercase;
}

li {
	list-style-type: none;
}

section {
	padding: 1.25em 1em;
}

@media (min-width: 768px) {
	section {
		padding: 1.25em;
	}
}

@media (min-width: 1024px) {
	h1 {
		font-size: 3rem;
	}

	section {
		padding: 1em 3em;
	}
}
