.button {
	&_primary {
		border-radius: 5px;
		padding: 1em;
		text-transform: uppercase;
		color: white;
		background-color: rgb(83, 82, 136);
		border: none;
		width: 100%;
		font-weight: bold;

		&.message {
			width: 100%;
		}

		&:hover {
			background-color: rgb(122, 121, 197);
		}

		@include mq(1024px) {
			width: 49%;
		}
	}

	&_secondary {
		border-radius: 5px;
		padding: 1em;
		text-transform: uppercase;
		color: white;
		background-color: grey;
		border: none;
		width: 100%;
		font-weight: bold;
		margin-top: 1em;

		@include mq(1024px) {
			width: 49%;
			margin-top: 0;
		}
		&:hover {
			background-color: rgb(161, 161, 161);
		}
	}
}

.toggle {
	width: 100px;
	height: 40px;

	&_button {
		background-color: grey;
		width: 90px;
		height: 40px;
		border-radius: 100px;
		display: flex;
		justify-content: space-between;
		border: solid 2px rgba(202, 202, 202, 0.658);
		transition: all 0.3s ease-in-out;
		position: relative;
	}

	&_circle {
		width: 30px;
		height: 30px;
		background-color: white;
		border-radius: 100px;
		border: solid 2px rgb(202, 202, 202, 0.658);
		position: absolute;
		top: 3px;
		left: 3px;
		transition: left 0.4s ease-in-out;
	}

	&_text {
		color: white;
		margin: auto 8px;
		text-transform: uppercase;
		transition: all 0.4s;
	}
}

.on {
	color: transparent;
}
.active-btn {
	background-color: rgb(122, 121, 197);

	& .toggle_circle {
		left: 53px;
	}

	& > .on {
		color: white;
	}
	& > .off {
		color: transparent;
	}
}
