.form_field {
	width: 100%;
	padding: 1em;
	border-radius: 5px;
	border: solid 1px rgb(202, 202, 202);
	background-color: rgba(202, 202, 202, 0.137);
	&::placeholder {
		color: rgb(161, 161, 161);
	}
}

:focus {
	border-color: rgb(108, 107, 197);
	outline: none;
}

#messageField {
	margin-top: 1.5em;
}
.message_container {
	position: relative;
}

.userList {
	position: absolute;
	top: 50px;
	width: 100%;

	&_item {
		background-color: rgb(200, 190, 255);
		padding: 0.5em 1em;
		cursor: pointer;

		&:hover {
			color: rgb(71, 69, 151);
			background-color: rgb(238, 238, 238);
		}
	}
}

.error {
	color: red;
	margin: 0;
	padding-top: 0.25em;
}
