.traffic {
	&_header {
		display: flex;
		justify-content: space-between;
	}

	&_nav {
		margin: auto 0;
		padding: 0;

		&--link {
			display: inline-block;
			color: gray;
			cursor: pointer;

			@include mq(400px) {
				padding: 0.1em 0.25em;
			}
			@include mq(768px) {
				padding: 0.5em 1em;
				color: rgb(153, 153, 153);
				font-weight: bold;
			}
		}
	}
}
.active {
	border-bottom: solid 2px green;
	color: black;
	font-weight: bold;

	@include mq(768px) {
		background-color: rgba(0, 172, 0, 0.541);
		border-radius: 30px;
		color: white;
		border: none;
	}
}
