.members {
	&_container {
		padding: 1em 0;
		border-bottom: solid 1px rgb(202, 202, 202);
		position: relative;
		&:last-child {
			border-bottom: none;
		}

		@include mq(400px) {
			display: flex;
			justify-content: space-between;
		}
	}

	&_item {
		display: flex;
		margin: auto 0;
		width: 90%;
	}
	&_avatar {
		width: 40px;
		height: 40px;
		border-radius: 100%;
		margin: auto 1em auto 0;
	}

	&_info {
		margin: auto 0;
		& p {
			margin: 0;
		}
		&--line2 {
			font-size: 0.9rem;
			text-decoration: none;
			color: rgb(108, 107, 197);
		}
	}

	&_date {
		margin: 0;
		text-align: right;

		@include mq(400px) {
			margin: auto 0;
		}
	}
}
