.settings {
	display: flex;
	justify-content: space-between;
	flex-direction: column;

	&_container {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(100px, 100px);
		margin: auto 0;
	}

	@include mq(1024px) {
		&_btn {
			display: flex;
			justify-content: space-between;
		}
	}

	& select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	&_timezone {
		position: relative;
		margin-top: 2em;

		&::after {
			content: '>';
			position: absolute;
			color: rgb(108, 107, 197);
			font-size: 3rem;
			font-family: 'Catamaran';
			font-weight: 200;
			transform: rotate(90deg);
			pointer-events: none;
			bottom: 21px;
			right: 20px;
		}
	}
}
