@import 'normalize';
@import 'base';
@import 'layout';

header {
	background-color: rgb(166, 164, 255);
	color: white;
	padding: 0 0.75em;
}

.app-name {
	margin: 1.4rem 0;
	& span {
		font-weight: 300;
	}
}

.account {
	margin: 1.25em 0;

	& * {
		margin: auto 0;
	}

	& svg {
		width: 30px;
		height: 30px;
		margin: auto 1.25em auto 0;
	}

	& img {
		width: 40px;
		height: 40px;
		border: solid 1px black;
		border-radius: 50%;
		margin: auto 0;
		background-color: white;
	}
}

.profile {
	display: none;
}

.nav {
	background-color: rgb(83, 82, 136);
	padding: 1em 0 0.75em;

	& img {
		width: 65px;
		height: 35px;
		padding: 0 1em;
	}
}

.title {
	padding-left: 0.75em;
}

.search-bar {
	background-color: rgba(240, 240, 240, 0.438);
	border-bottom-left-radius: 10px;

	& input {
		border: none;
		border-radius: 5px;
		margin: auto 0.75em auto 0;
		padding: 0.25em 0.75em;
		border: solid 1px rgba(219, 219, 219, 0.829);
		&::placeholder {
			color: rgb(167, 167, 167);
		}
	}
}
.alert {
	background-color: rgb(121, 162, 196);
	color: white;
	padding: 0 0.75em;

	& p {
		float: left;
	}
	& button {
		float: right;
		background: transparent;
		border: none;
		margin-top: 0.4em;
		margin-right: 0.3em;
		padding: 0;
		font-size: 1.5em;
		color: white;
	}
}

.traffic-header {
	display: flex;
	justify-content: space-between;
}

.traffic-nav {
	&-link {
		display: inline-block;
		padding: 0.1em 0.25em;
		color: gray;
	}

	& li:last-of-type {
		padding-right: 0;
	}
}

.active {
	border-bottom: solid 2px green;
	color: black;
	font-weight: bold;
}

.full-chart,
.half-chart {
	& img {
		width: 90%;
		height: auto;
	}
}

.daily,
.socials,
.activities,
.settings {
	background-color: rgba(200, 190, 255, 0.226);
}

.social-container {
	border: solid 1px gray;
}

.social-icon {
	display: flex;
	background-color: rgb(83, 82, 136);
	border-radius: 100%;
	width: 70px;
	height: 70px;

	& svg {
		margin: auto;
		width: 40px;
		height: 40px;
	}
}

@media (min-width: 768px) {
	.account {
		margin: 0.75em 0;
	}

	.profile-pic {
		border-left: solid 2px rgba(55, 0, 255, 0.199);
		padding: 0.25em 0 0.25em 1.25em;
	}

	.nav {
		text-align: center;

		& img {
			width: 35px;
			height: 65px;
			padding: 1em 0;
		}
	}

	.full-chart {
		width: 90vw;
	}

	.half-chart {
		width: 45vw;
	}

	.profile {
		display: initial;
		margin-left: 1em;
		margin-right: 1.25em;
	}

	.app-name {
		margin-left: 0.5em;
	}

	.title {
		padding: 0;
	}

	.headline {
		padding: 0 1em;
	}

	.search-bar {
		border-radius: 0;
		border-left: solid 1px rgba(219, 219, 219, 0.829);
		border-bottom: solid 1px rgba(219, 219, 219, 0.829);

		& input {
			margin-right: 1.25em;
			padding: 0.6em;
			width: 40%;
			min-width: 300px;
		}
	}

	.alert {
		margin: 2em 1.25em 0;
		border-radius: 5px;

		& p {
			margin-left: 0.25em;
		}
	}

	.traffic-nav {
		margin-top: 0.7em;
		&-link {
			padding: 0.5em 1em;
			color: rgb(153, 153, 153);
			font-weight: bold;
		}
	}

	.active {
		background-color: rgba(0, 172, 0, 0.541);
		border-radius: 30px;
		color: white;
		border: none;
	}

	.border {
		border: solid 1px gray;
	}

	.daily,
	.socials,
	.activities,
	.settings {
		background-color: unset;
	}
}

@media (min-width: 1024px) {
	.account {
		margin: 1.25em 0;

		& svg {
			margin-right: 2em;
		}

		& img {
			width: 45px;
			height: 45px;
		}
	}

	.nav img {
		width: 45px;
		height: 75px;
		padding: 1em 0;
	}

	.search-bar input {
		margin-right: 3em;
	}

	.headline {
		padding: 0 2em;
	}

	.alert {
		margin: 2em 3em 1em;
	}
}
