@import 'normalize';
@import 'mixins';
@import 'base';
@import 'layout';
@import 'button';
@import 'header';
@import 'navigation';
@import 'topBar';
@import 'main-traffic-section';
@import 'socials-section';
@import 'members-section';
@import 'activities-section';
@import 'form';
@import 'settings-section';

.full-chart,
.half-chart {
	& img {
		width: 90%;
		height: auto;
	}
}

.daily,
.socials,
.activities,
.settings {
	background-color: rgba(200, 190, 255, 0.226);
}

@media (min-width: 768px) {
	.daily,
	.socials,
	.activities,
	.settings {
		background-color: unset;
	}
}
