.traffic {
	&_header {
		@extend %flex;
	}
	&_nav {
		margin: $vertical-center;
		padding: 0;
		&--link {
			display: inline-block;
			cursor: pointer;
			@include mq($break-sm) {
				padding: 0.1em 0.25em;
			}
			@include mq($break-med) {
				padding: 0.5em 1em;
				color: $gray-medium;
				font-weight: bold;
			}
		}
	}
}

.active {
	border-bottom: solid 2px $green;
	color: black;
	font-weight: bold;
	@include mq(768px) {
		background-color: $green;
		border-radius: $round-corner;
		color: white;
		border: none;
	}
}
