.members {
	&_container {
		padding: 1em 0;
		border-bottom: $border-thin;
		position: relative;
		&:last-child {
			border-bottom: none;
		}
		@include mq($break-sm) {
			display: flex;
			justify-content: space-between;
		}
		@include mq($break-lg) {
			height: 88px;
		}
	}
	&_item {
		display: flex;
		margin: $vertical-center;
		width: 90%;
	}
	&_avatar {
		@extend %avatar;
		margin: auto 1em auto 0;
	}
	&_info {
		margin: $vertical-center;
		& p {
			margin: 0;
		}
		&--line2 {
			font-size: 0.9rem;
			text-decoration: none;
			color: $color-secondary;
		}
	}
	&_date {
		margin: 0;
		text-align: right;
		@include mq($break-sm) {
			margin: $vertical-center;
		}
	}
}
