.settings {
	@extend %flex;
	flex-direction: column;
	&_container {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(100px, 100px);
		margin: $vertical-center;
	}
	@include mq($break-lg) {
		&_btn {
			display: flex;
			justify-content: space-between;
		}
	}
	&_timezone {
		position: relative;
		margin-top: 2em;
		&::after {
			@extend %arrow;
			content: '>';
			transform: rotate(90deg);
			pointer-events: none;
			right: 20px;
		}
	}
}

.message {
	position: relative;
}

.success {
	position: absolute;
	background-color: white;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	& p {
		color: $green;
		font-size: 1.1rem;
		margin: auto;
		margin-bottom: 1em;
	}
	& button {
		margin: auto;
		margin-top: 0;
		border: none;
		background-color: $color-btn-primary;
		border-radius: $round-corner;
		color: white;
		padding: 0.5em 2em;
	}
}

.saved {
	margin-bottom: 0;
	color: $green;
}
