.top-bar {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
	@include mq($break-sm) {
		padding-left: 0.75em;
	}
	@include mq($break-med) {
		grid-template-columns: max-content;
		padding: 0;
	}
}

.title {
	@include mq($break-med) {
		padding: 0 1em;
	}
	@include mq($break-lg) {
		padding: 0 2em;
	}
}

.search-bar {
	display: flex;
	justify-content: flex-end;
	position: relative;
	@include mq($break-med) {
		background-color: $color-background;
		grid-column: 2 / span 2;
		border-left: $border-thin;
		border-bottom: $border-thin;
	}
	& svg {
		position: absolute;
		height: 20px;
		top: 22px;
		right: 10px;
		fill: $color-secondary;
		opacity: 0.8;
		pointer-events: none;
		@include mq($break-med) {
			height: 23px;
			top: 20px;
			right: 30px;
		}
		@include mq($break-lg) {
			right: 60px;
		}
	}
	& input {
		@extend %form-input;
		margin: auto 0.25em auto 0;
		max-width: 150px;
		padding: 0.25em 0.75em;
		background-color: white;
		@include mq($break-sm) {
			margin: auto 0.75em auto 0;
			max-width: unset;
		}
		@include mq($break-med) {
			margin-right: 1.25em;
			padding: 0.6em;
			width: 40vw;
		}
		@include mq($break-lg) {
			margin-right: 3em;
		}
	}
}

.alert {
	@extend %flex;
	background-color: rgb(121, 162, 196);
	color: white;
	padding: 0 0.25em;
	max-height: 100%;
	transition: max-height 1s;
	@include mq($break-sm) {
		padding: 0 0.75em;
	}
	@include mq($break-med) {
		margin: 2em 1.25em 0;
		border-radius: 5px;
	}
	@include mq($break-lg) {
		margin: 2em 3em 0;
	}
	&_btn {
		background: transparent;
		border: none;
		padding: 0;
		font-size: 1.5em;
		font-weight: bold;
		color: white;
		margin: $vertical-center;
	}
}

.closed {
	max-height: 0;
	overflow: hidden;
}
