.nav {
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: $color-primary;
	padding: 1em 0 0.75em;
	@include mq($break-med) {
		flex-direction: column;
		justify-content: start;
		position: fixed;
		height: 100vh;
		margin-top: $header-height;
	}

	& img {
		width: 65px;
		height: 35px;
		padding: 0 1em;
		opacity: 0.5;
		cursor: pointer;
		@include mq($break-med) {
			width: 35px;
			height: 65px;
			padding: 1em 0;
		}
		@include mq($break-lg) {
			width: 40px;
			height: 70px;
		}
	}
}

.selected {
	text-decoration: none;
	position: relative;
	@include mq($break-med) {
		&::before {
			content: 'b';
			padding: 25px 0;
			background-color: rgba(93, 214, 93, 0.856);
			color: transparent;
			position: absolute;
			left: -5px;
			border-radius: $round-corner;
		}
	}
	& img {
		opacity: 1;
	}
}
